body
{
    margin:0px;
    background-color:#f5efe0;
    color:hwb(0 6% 94%); 
    font-family:Arial, Helvetica, sans-serif;
}

#main
{
    width:600px; 
    height:260px; 
    margin-left:auto; 
    margin-right:auto; 
    border-radius:5px; 
    padding-left:10px;
    padding-bottom: 120px; 
    margin-top:100px;
    border-top:3px double hwb(0 6% 94%); 
    border-bottom:3px double hwb(0 6% 94%); 
    padding-top:20px;
}

#main table
{
    font-family:"Comic Sans MS", cursive;
} 
/* css code for textbox */
#main .tb
{
    height:28px; 
    width:230px; 
    border:1px solid #f5efe0; 
    color:hwb(0 6% 94%); 
    font-weight:bold; 
    border-left:5px solid #f7f7f7; 
    opacity:0.9;
}

/* css code for button*/
#main .btn
{
    width:80px; 
    height:32px; 
    outline:none;  
    font-weight:bold; 
    border:0px solid #195B6A; 
    text-shadow: 0px 0.5px 0.5px #195B6A;	
    border-radius: 2px; 
    font-weight: 600; 
    color: #195B6A; 
    letter-spacing: 1px; 
    font-size:14px; 
    -webkit-transition: 1s; 
    -moz-transition: 1s; 
    transition: 1s;
}

#main .btn:hover
{
    background-color:#195B6A; 
    outline:none;  
    border-radius: 2px; 
    color:#f1f1f1; 
    border:1px solid #195B6A;
}

.h-tag 
{
    text-align: center;
}