body {
    background: #f5efe0;
    box-sizing: border-box;
    color: #000;
    font-size: 1.8rem;
    letter-spacing: -0.015em;
    text-align: center;
}
table {
margin-left: auto;
margin-right: auto;
width: 80%;
}

th {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
background: #666;
color: #FFF;
padding: 2px 6px;
border-collapse: separate;
border: 1px solid #000;
}

td {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
text-align: center;
border: 1px solid #DDD;
}

#moisture {
    width: 75px;
    text-align: center;
}

#motor {
    width: 75px;
    text-align: center;
}
